*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper{
    width: 80vw;
    background-color: darkmagenta;
    margin: 0 auto;
    text-align: center;
}

#container{
    display: flex;
    flex-direction: row;
    width: 100%
}

header, footer{
    background-color: aqua;
}

nav{
    background-color: azure;
    width: 30%;
    display: flex;
    justify-content: center;
}
nav ul {
    padding-left: 0;
    list-style: none;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

nav li{
    border: 5px solid black; /*change this*/
    border-radius: 50%;
    padding: 2%;
    width: 80%
}

nav a {
    text-decoration:none;
}
main{
    height: 100vh;
    width: 70%
}
/*^ above is desktop. below is phone*/
@media screen and (max-width: 1000px){
    #container {
        flex-direction: column;
    }
    nav{
        width: 100%;
    }
    main{
        height: 100vh;
        width: 100%
    }
    nav ul {
        flex-direction: row;
    }
}